{% extends 'main/base.html' %}

{% block title %}Thread Chat{% endblock %}

{% block content %}
	<div class="chat-sidebar">
		<h3 class="inbox">Inbox</h3>
		<div class="tc-or-pm">
			<div class="tc" id="tc" onclick="toTc()">
				<p><strong>Thread Chat</strong></p>
			</div>
			<div class="pm" id="pm" onclick="toPm()">
				<p><strong>Private Messages</strong></p>
			</div>
		</div>
		<div class="scrollable-chats-tc" id="scrollable-chats-tc">
			{% for threadchat in all_tc %}
				<a href="/threadchat/{{threadchat.id}}">
					<div class="chat-info">
						<p>{{threadchat.thread.user}}</p>
						<h5>{{threadchat.thread.title}}</h5>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="scrollable-chats-pm" id="scrollable-chats-pm">
      {% for pm in all_pm %}
        <a href="/pmchat/{{pm.user1.id}}_{{pm.user2.id}}">
          <div class="chat-info">
            <h5>{{pm.user1}}</h5>
          </div>
        </a>
      {% endfor %}
    </div>
	</div>
{% endblock %}
