{% extends 'main/base.html' %}

{% block title %}Edit Thread{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="center">
		<div class="requests">
			<h3>Edit thread</h3>
			<form method="post" action="/thread/{{id}}/edit">
				{% csrf_token %}
				{{form|crispy}}
				<p></p>
				<div class="input-group mb-3">
					<div class="input-group-prepend comment-form">
						<button type="submit", name="save" class="comment-btns-btn btn">Edit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
