<!-- FULL POST INFO -->
{% extends 'main/base.html' %}

{% block title %}View Thread{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}

		<!-- {% for comment in t.comment_set.all %}
			<p>{{comment.user}}: {{comment.content}}</p>
		{% endfor %}

		<form method="post" action="#">
			{% csrf_token %}
			<input type="text", name="new">
			<button type="submit", class="btn btn-success">Comment</button>
		</form>

		<form method="post" action="#">
			{% csrf_token %}
			{% if button_mode %}
				<button type="submit", name="gochat", value="true", class="btn btn-success">Go to chat</button>
			{% elif not requested %}
				<button type="submit", name="requestchat", value="true", class="btn btn-success">Request to group chat</button>
			{% else %}
				Already requested.
			{% endif %}
			People in chat: {{len_list}}
		</form> -->

		<div class="full-info">
			<h3>{{t.title}}</h3>
			<p>{{t.content}}</p>
			{% for tag in t.tags %}
				<div class="tags">
					{{tag}}
				</div>
			{% endfor %}
			<div class="postedby">
				<p>Posted by {{t.user}}</p>
			</div>
			<div class="comment-form">
				<form method="post" action="#">
					{% csrf_token %}
					<textarea name="new" placeholder="Thoughts?"></textarea>
					<div class="comment-btn">
						<button type="submit" class="btn">Comment</button>
					</div>
				</form>
			</div>
			<div>
				{% for comment in t.comment_set.all %}
				<hr>
					<div>
						<p class="comment-commenter">{{comment.user}}</p>
						<p class="comment-datetime">{{comment.created_at}}</p>
						<p class="comment-content">{{comment.content}}</p>
					</div>
				{% endfor%}
			</div>
		</div>
	</div>
{% endblock %}
