<!-- FULL POST INFO -->
{% extends 'main/base.html' %}
{% load static %}
{% block title %}View Thread{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}

		<div class="full-info">
			<p class="post-datetime">{{t.created_at}}</p>
			<div class="edit-delete">
				{% if is_user %}
					<a href="/thread/{{t.id}}/edit">
						<img class="edit" src="{% static 'images/more.svg' %}" alt="edit">
					</a>
					<a href="/thread/{{t.id}}/delete">
						<img class="delete" src="{% static 'images/delete.svg' %}" alt="delete">
					</a>
				{% endif %}
			</div>
			<h3 class="{% if not user == t.user %}post-info-h3{% endif %}">{{t.title}}</h3>
			<p>{{t.content}}</p>
			<p class="post-info-p">Location: {{t.location}}</p>
			{% for tag in t.tags %}
				<div class="tags">
					{{tag}}
				</div>
			{% endfor %}
			<div class="postedby">
				<p>Posted by <a href="/profile/{{t.user.id}}">{{t.user}}</a></p>
			</div>
			<div class="comment-form">
				<form method="post" action="#">
					{% csrf_token %}
					<textarea name="new" placeholder="Thoughts?" maxlength="200"></textarea>
					<div class="comment-btns">
						{% if button_mode %}
							<button class="comment-btns-btn btn" type="submit", name="gochat", value="true">Chat</button>
						{% elif not requested %}
							<button class="comment-btns-btn btn" type="submit", name="requestchat", value="true">Request</button>
						{% else %}
							<p>Request sent</p>
						{% endif %}
						<button class="comment-btns-btn btn" type="submit">Comment</button>
					</div>
				</form>
			</div>
			<div>
				{% for comment in t.comment_set.all %}
				<hr>
					<div>
						<p class="comment-commenter">{{comment.user}}</p>
						<p class="comment-datetime">{{comment.created_at}}</p>
						<p class="comment-content">{{comment.content}}</p>
					</div>
				{% endfor%}
			</div>
		</div>
	</div>
{% endblock %}
