<!-- FULL POST INFO -->
{% extends 'main/base.html' %}

{% block title %}View Thread{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}

		<div class="full-info">
			<p class="post-datetime">{{t.created_at}}</p>
			<h3>{{t.title}}</h3>
			<p>{{t.content}}</p>
			{% for tag in t.tags %}
				<div class="tags">
					{{tag}}
				</div>
			{% endfor %}
			<div class="postedby">
				<p>Posted by {{t.user}}</p>
			</div>
			<div class="comment-form">
				<form method="post" action="#">
					{% csrf_token %}
					<textarea name="new" placeholder="Thoughts?" maxlength="200"></textarea>
					<div class="comment-btn">
						{% if button_mode %}
							<button type="submit", name="gochat", value="true", class="btn">Chat</button>
						{% elif not requested %}
							<button type="submit", name="requestchat", value="true", class="btn">Request</button>
						{% else %}
							<p>Request sent</p>
						{% endif %}
						<button type="submit" class="btn">Comment</button>
					</div>
				</form>
			</div>
			<div>
				{% for comment in t.comment_set.all %}
				<hr>
					<div>
						<p class="comment-commenter">{{comment.user}}</p>
						<p class="comment-datetime">{{comment.created_at}}</p>
						<p class="comment-content">{{comment.content}}</p>
					</div>
				{% endfor%}
			</div>
		</div>
	</div>
{% endblock %}
