{% extends 'main/base.html' %}

{% block title %}Notifs{% endblock %}

{% block content %}
	{% for message in messages %}
		<div class="container-fluid p-0">
			<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
				{{ message }}
			</div>
		</div>
	{% endfor %}

	<form method="post" action="#">
		{% csrf_token %}
		<ul>
			{% for n in nlist %}
				<input type="checkbox" name="notif{{n.id}}" value="clicked">{{n.created_at}}
		</ul>
		<button type="submit", name="accepted", value="true", class="btn btn-success">Accept</button>
		<button type="submit", name="declined", value="true", class="btn btn-warning">Decline</button>
	</form>
	{% endfor %}
{% endblock %}
