{% extends 'main/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}

		<div class="requests">
			{% if is_curr_user %}
				<h3>My profile</h3>
				<hr>
				<div class="">
					<h4>{{user.userprofile.name}}</h4>
					<p>Year {{user.userprofile.year}}</p>
					<p>{{user.userprofile.faculty}}</p>
					<p>Majoring in {{user.userprofile.major}}</p>
				</div>
				<a href="/edit_profile">
			   		<button class="comment-btns-btn btn">Edit</button>
				</a>
			{% else %}
				<h3>{{this_userprofile.user}}'s profile</h3>
				<form method="post" action="#">
					{% csrf_token %}
					<button type="submit", name="pm", value="true", class="btn btn-success">Send Private Message</button>
				</form>
				<hr>
				<div class="">
					<h4>{{this_userprofile.name}}</h4>
					<p>Year {{this_userprofile.year}}</p>
					<p>{{this_userprofile.faculty}}</p>
					<p>Majoring in {{this_userprofile.major}}</p>
				</div>
			{% endif %}

			<hr>
			{% if is_curr_user %}
			<h3>Profile Thread</h3>
			<p>This is your profile thread that can be viewed by others. Edit the content
				and set it to visible for people to see your profile thread in their feed.</p>
			<p>Title: {{t.title}}</p>
			<p>Content: {{t.content}}</p>
			<a href="/edit_profile_thread">
		   		<button class="comment-btns-btn btn">Edit</button>
			</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
