{% extends 'main/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<div class="requests">
			<div class="">
				<h3>{{user.userprofile.name}}</h3>
				<p>Year {{user.userprofile.year}}</p>
				<p>{{user.userprofile.faculty}}</p>
				<p>Majoring in {{user.userprofile.major}}</p>
			</div>
			<a href="/edit_profile">
		   		<button class="btn btn-success">Edit Profile</button>
			</a>
		</div>
	</div>
{% endblock %}
