{% extends 'main/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}
		<div class="requests">
			<div class="">
				<h3>{{user.userprofile.name}}</h3>
				<p>Year {{user.userprofile.year}}</p>
				<p>{{user.userprofile.faculty}}</p>
				<p>Majoring in {{user.userprofile.major}}</p>
			</div>
			<a href="/edit_profile">
		   		<button class="btn btn-success">Edit Profile</button>
			</a>
		</div>
	</div>
	<br></br>
	<h2>Profile Thread</h2>
	<p>This is your profile thread that can be viewed by others. Edit the content and set it to visible for people to see your profile thread in their feed.</p>
	<p>Title: {{t.title}}</p>
	<p>Content: {{t.content}}</p>
	<a href="/edit_profile_thread">
   		<button class="btn btn-success">Edit Profile Thread</button>
	</a>
{% endblock %}
