<!-- CHATBOX FOR TC etc. -->
{% extends 'main/chatlist.html' %}

{% block title %}View Thread Chat{% endblock %}

{% block content %}
	<div class="chat-sidebar">
		<h3 class="inbox">Inbox</h3>
		<div class="tc-or-pm">
			<div class="tc" id="tc" onclick="toTc()">
				<p><strong>Thread Chat</strong></p>
			</div>
			<div class="pm" id="pm" onclick="toPm()">
				<p><strong>Private Messages</strong></p>
			</div>
		</div>
		<div class="scrollable-chats-tc">
			{% for threadchat in all_tc %}
				<a href="/threadchat/{{threadchat.id}}">
					<div class="chat-info">
						<p>{{threadchat.thread.user}}</p>
						<h5>{{threadchat.thread.title}}</h5>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="scrollable-chats-pm">
			{% for privatechat in all_pm %}
				<a href="/privatechat/{{privatechat.id}}">
					<div class="chat-info">
						<!-- COME BACK TO THIS PART -->
						<p>Conversation between {{privatechat.user1}} and {{privatechat.user2}}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>



	<div class="chatbox">
		<div class="chatbox-title">
			<h3>{{tc.thread.title}}</h3>
		</div>
		<div class="chatbox-chat">
			{% for chat in tc.chatpost_set.all %}
				<div class="message">
					{% if chat.user == user %}
						<div class="myMessage">
							<p class="sender">{{chat.user}}</p>
							<div class="bubble">
								<p>{{chat.content}}</p>
							</div>
						</div>
					{% else %}
						<div class="theirMessage">
							<p class="sender">{{chat.user}}</p>
							<div class="bubble">
								<p>{{chat.content}}</p>
							</div>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="replyform">
			<form method="post" action="#" autocomplete="off">
				{% csrf_token %}
				<input type="text", name="new" autofocus>
				<!-- <button type="submit", class="btn btn-success">Chat</button> -->
			</form>
		</div>
	</div>

{% endblock %}
