<!-- NEW HOME PAGE -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}View{% endblock %}

{% block content %}
	<div class="center">
		{% for message in messages %}
			<div class="container-fluid p-0">
				<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
					{{ message }}
				</div>
			</div>
		{% endfor %}
		{% if not tlist %}
			<h3>There are no posts available at the moment.</h3>
		{% endif %}
		{% for t in tlist %}
			<div class="grid-container-view">
				<div class="post-info">
					<p class="post-datetime">{{t.created_at}}</p>
					<div class="edit-delete">
						{% if user == t.user %}
							<a href="/thread/{{t.id}}/edit">
								<img class="edit" src="{% static 'images/more.svg' %}" alt="edit">
							</a>
							<a href="/thread/{{t.id}}/delete">
								<img class="delete" src="{% static 'images/delete.svg' %}" alt="delete">
							</a>
						{% endif %}
					</div>
					<h3 class="{% if not user == t.user %}post-info-h3{% endif %}">{{t.title}}</h3>
					<p>{{t.content}}</p>
					{% for tag in t.tags %}
						<div class="tags">
							{{tag}}
						</div>
					{% endfor %}
					<div class="postedby">
						<p>Posted by {{t.user}}</p>
					</div>
				</div>
				<div class="commentorchat">
					<a href="/thread/{{t.id}}">
						<div class="comments-btn">
							<h3>Comments</h3>
						</div>
					</a>
					<a href="/threadchat/{{t.id}}">
						<div class="joinchat">
							<h3>Chat</h3>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
