{% extends 'main/base.html' %}
{% load static %}

{% block title %}View{% endblock %}

{% block content %}
	{% for message in messages %}
		<div class="container-fluid p-0">
			<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
				{{ message }}
			</div>
		</div>
	{% endfor %}
	{% for t in tlist %}
		<div class="grid-container">
			<div class="post-info">
				<h3>{{t.title}}</h3>
				<p>{{t.content}}</p>
			</div>
			<div class="commentorchat">
				<a href="/thread/{{t.id}}">
					<div class="comments">
						<h3>Comments</h3>
					</div>
				</a>
				<a href="/threadchat/{{t.id}}">
					<div class="joinchat">
						<h3>Chat</h3>
					</div>
				</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
