a {
  color: #f8b195;
  text-decoration: none;
}

body {
  background-color: #c06c84;
}

.bar {
  position: absolute;
  width: 300px;
  height: 40px;
  top: 5px;
  left: 50px;
  border-radius: 10px;
}

.bar::placeholder {
  position: absolute;
  font-size: 20px;
  top: 4px;
  left: 10px
}

.brand {
  position: absolute;
  left: 30px;
  padding-top: 3px;
}

.countmein {
  background-color: #7D4C77;
  border-radius: 0 5px 5px 0;
  height: 100%;
  padding: 20px 5px;
}

.countmein h3 {
  color: white;
  height: 50%;
  font-size: 150%;
}

.grid-container {
  display: grid;
  grid-template-columns: 80% 20%;
}

.login {
  position: absolute;
  right: 100px;
}

.loginout {
  position: absolute;
  bottom: 10px;
}

.main {
  padding-top: 10px;
}

.post-info {
  background-color: white;
  border-radius: 5px 0 0 5px;
  height: 100%;
  color: #707070;
  padding: 10px;
}

.searchbar {
  position: absolute;
  left: 120px;
}

.signup {
  position: absolute;
  right: 0;
}

.topnav {
  height: 50px;
  background-color: white;
}
