a {
  color: #f8b195;
}

body {
  background-color: #c06c84 !important;
}

.bar {
  position: absolute;
  width: 300px;
  height: 40px;
  top: 5px;
  left: 50px;
  border-radius: 10px;
}

.bar::placeholder {
  position: absolute;
  font-size: 20px;
  top: 4px;
  left: 10px
}

.brand {
  position: absolute;
  left: 30px;
  padding-top: 3px;
}

.login {
  position: absolute;
  right: 100px;
}

.loginout {
  position: absolute;
  bottom: 10px;
}

.main {
  padding-top: 10px;
}

.searchbar {
  position: absolute;
  left: 120px;
}

.sidenav {
  height: 100%;
  width: 11%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6c567b; /* #111111 */
  overflow-x: hidden;
  padding-top: 40px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f8b195; /* #818181 */
  font-size: 1.5625rem;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
  color:#f1f1f1;
}

.signup {
  position: absolute;
  right: 0px;
}

.topnav {
  height: 50px;
  background-color: white;
}
